<a href="http://sprosi.d3.ru/comments/489249">1с консультант Интернет торговля, бухгалтерия (да! да!),  оптовая торговля.</a>;<a href="http://d3.ru/user/b2bconsult">b2bconsult</a>;рейтинг: 18;комментарии: 67;Sun Nov 03 2013 18:09:57 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464177">Aвтослесарь</a>;<a href="http://d3.ru/user/%D0%B6%D0%B5%D1%81%D1%82%D1%8F%D0%BD%D1%89%D0%B8%D0%BA">жестянщик</a>;рейтинг: 35;комментарии: 90;Tue Jul 30 2013 14:43:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/449803">Aптечный бизнес</a>;<a href="http://d3.ru/user/Krymets">Krymets</a>;рейтинг: 35;комментарии: 90;Tue Jun 11 2013 01:41:22 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/481675">Cолдат армии США Задавайте вопросы.</a>;<a href="http://d3.ru/user/dcherniv">dcherniv</a>;рейтинг: 605;комментарии: 1381;Sun Oct 06 2013 06:54:19 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/574067">HR Manager / 10 лет опыта могу ответить на вопросы</a>;<a href="http://d3.ru/user/Heihachi">Heihachi</a>;рейтинг: 15;комментарии: 164;Wed Jul 09 2014 18:10:54 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/450010">HR Manager / Менеджер по работе с персоналом / 5 лет опыта</a>;<a href="http://d3.ru/user/Sir_Naf">Sir_Naf</a>;рейтинг: 20;комментарии: 106;Tue Jun 11 2013 18:49:27 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/429234">IT–шник в сфере виртуального хостинга</a>;<a href="http://d3.ru/user/egoiste">egoiste</a>;рейтинг: 6;комментарии: 30;Tue Apr 02 2013 14:39:46 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463738">Kолорист</a>;<a href="http://d3.ru/user/fenics">fenics</a>;рейтинг: 20;комментарии: 21;Mon Jul 29 2013 05:37:04 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/446359">SEOшник / интернет–маркетолог</a>;<a href="http://d3.ru/user/warlock9k">warlock9k</a>;рейтинг: 19;комментарии: 82;Thu May 30 2013 22:40:16 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/445420">Software–инженер / Нидерланды</a>;<a href="http://d3.ru/user/CorbenDallas">CorbenDallas</a>;рейтинг: 18;комментарии: 48;Tue May 28 2013 00:13:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/490687">Software–инженер / США / стаж 24 года Инженер программного обеспечения. В США с 1990г.</a>;<a href="http://d3.ru/user/Bops">Bops</a>;рейтинг: 50;комментарии: 77;Fri Nov 08 2013 11:53:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/467339">А может? (пост улучшения подсайта)</a>;<a href="http://d3.ru/user/larettoy">larettoy</a>;рейтинг: 7;комментарии: 17;Mon Aug 12 2013 00:42:51 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/601622">Авиадиспетчер / стаж 33 года</a>;<a href="http://d3.ru/user/airtraffic_controller">airtraffic_controller</a>;рейтинг: 136;комментарии: 204;Thu Sep 25 2014 22:29:33 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/454974">Автодилер / "Серый"</a>;<a href="http://d3.ru/user/Gmes">Gmes</a>;рейтинг: 22;комментарии: 59;Sat Jun 29 2013 03:27:27 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463675">Автоинструктор (хобби)</a>;<a href="http://d3.ru/user/Scorp919">Scorp919</a>;рейтинг: 4;комментарии: 23;Mon Jul 29 2013 01:20:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/467565">Автомеханик "Техника любит ласку,чистоту и смазку."</a>;<a href="http://d3.ru/user/X229HT">X229HT</a>;рейтинг: 31;комментарии: 94;Mon Aug 12 2013 20:52:30 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/417738">Адвокат в бизнес–спорах</a>;<a href="http://d3.ru/user/cardigan">cardigan</a>;рейтинг: 9;комментарии: 39;Wed Feb 20 2013 01:28:42 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/511199">Адвокат по гражданским и уголовным делам</a>;<a href="http://d3.ru/user/advocate">advocate</a>;рейтинг: 43;комментарии: 158;Wed Jan 08 2014 22:09:13 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/469555">Администратор и арбитр Википедии (бывший)</a>;<a href="http://d3.ru/user/Carn">Carn</a>;рейтинг: 117;комментарии: 109;Tue Aug 20 2013 19:42:29 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/574107">Айтишник в СА Жизнь в Саудовской Аравии</a>;<a href="http://d3.ru/user/MkIV">MkIV</a>;рейтинг: 232;комментарии: 555;Wed Jul 09 2014 20:24:31 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/494001">Алкоголик</a>;<a href="http://d3.ru/user/Victor193L">Victor193L</a>;рейтинг: 434;комментарии: 1636;Wed Nov 20 2013 07:00:35 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/510923">Альпинист Участник коммерческого тура на вершину Эльбруса</a>;<a href="http://d3.ru/user/EnfantTerrible">EnfantTerrible</a>;рейтинг: 41;комментарии: 88;Tue Jan 07 2014 20:57:39 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/504024">Аналитик / Медиа–эксперт</a>;<a href="http://d3.ru/user/anfisov">anfisov</a>;рейтинг: 25;комментарии: 41;Mon Dec 16 2013 18:43:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/455089">Антикварный дилер</a>;<a href="http://d3.ru/user/mikl53">mikl53</a>;рейтинг: 26;комментарии: 93;Sat Jun 29 2013 20:20:59 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464361">Аптекарь Провизор от слова предвидеть</a>;<a href="http://d3.ru/user/zatuliya">zatuliya</a>;рейтинг: 24;комментарии: 72;Wed Jul 31 2013 00:37:40 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/415404">Арбитражный управляющий / ч. 1 Все хорошо, когда все плохо</a>;<a href="http://d3.ru/user/Gaydamakin">Gaydamakin</a>;рейтинг: 16;комментарии: 59;Fri Feb 08 2013 13:49:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/475248">Арбитражный управляющий / ч. 2 Все хорошо, когда все плохо.</a>;<a href="http://d3.ru/user/Gaydamakin">Gaydamakin</a>;рейтинг: 34;комментарии: 55;Wed Sep 11 2013 12:48:40 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/467102">Арборист Работа и отдых на деревьях</a>;<a href="http://d3.ru/user/alesha702">alesha702</a>;рейтинг: 106;комментарии: 76;Sat Aug 10 2013 18:11:25 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/455264">Археолог "бронзовик"</a>;<a href="http://d3.ru/user/Narcoticq">Narcoticq</a>;рейтинг: 35;комментарии: 24;Sun Jun 30 2013 17:21:23 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/434535">Архитектор–дизайнер</a>;<a href="http://d3.ru/user/Ramkej">Ramkej</a>;рейтинг: 11;комментарии: 35;Thu Apr 18 2013 13:39:18 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/501746">Аспирант / Европейский ВУЗ</a>;<a href="http://d3.ru/user/Tiberius">Tiberius</a>;рейтинг: 38;комментарии: 77;Mon Dec 09 2013 18:11:13 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/557161">Аспирантка / кафедра географии / Украина</a>;<a href="http://d3.ru/user/nakstyusha">nakstyusha</a>;рейтинг: 20;комментарии: 111;Thu May 08 2014 20:35:42 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/572166">Аудитор Бухгалтерская финансовая отчетность. Всё о мире теток в мохеровых кофтах. Почему бухгалтерия занята, когда пьёт чай.</a>;<a href="http://d3.ru/user/Nosil">Nosil</a>;рейтинг: 82;комментарии: 194;Wed Jul 02 2014 14:28:49 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/503624">Африканец / 10 лет в ЮАР</a>;<a href="http://d3.ru/user/Genduff">Genduff</a>;рейтинг: 237;комментарии: 260;Sun Dec 15 2013 12:54:09 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/467485">Банкир Спрашивайте</a>;<a href="http://d3.ru/user/kordura">kordura</a>;рейтинг: 39;комментарии: 353;Mon Aug 12 2013 16:40:24 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464564">Банковский сотрудник</a>;<a href="http://d3.ru/user/SpecialTaskUnit">SpecialTaskUnit</a>;рейтинг: 27;комментарии: 85;Wed Jul 31 2013 16:26:27 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/557533">Бармен Работаю барменом в провинции под названием Сибирь уже 6 лет. Ваши вопросы, замечания, предложения</a>;<a href="http://d3.ru/user/Piratensuppe">Piratensuppe</a>;рейтинг: 39;комментарии: 85;Sat May 10 2014 16:13:35 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463864">Бизнес–аналитик</a>;<a href="http://d3.ru/user/Ultrane0">Ultrane0</a>;рейтинг: 50;комментарии: 128;Mon Jul 29 2013 16:25:19 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/472622">Богослов Богослов, переставший верить в Бога</a>;<a href="http://d3.ru/user/kvanto">kvanto</a>;рейтинг: 178;комментарии: 1065;Sun Sep 01 2013 23:17:47 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/559783">Болел раком / Работаю на скорой помощи</a>;<a href="http://d3.ru/user/BatNN">BatNN</a>;рейтинг: 156;комментарии: 122;Sat May 17 2014 20:38:21 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/489859">Брокер при таможне Немецкая таможня от а до я...</a>;<a href="http://d3.ru/user/akx">akx</a>;рейтинг: 23;комментарии: 40;Tue Nov 05 2013 17:43:57 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/585997">Бросил курить</a>;<a href="http://d3.ru/user/eushar">eushar</a>;рейтинг: 54;комментарии: 217;Fri Aug 15 2014 22:25:00 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/525470">Букмекер стаж 3 года</a>;<a href="http://d3.ru/user/Anton780">Anton780</a>;рейтинг: 17;комментарии: 40;Fri Feb 21 2014 18:09:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/474503">Буровое судно Оператор динамического позиционирования</a>;<a href="http://d3.ru/user/ski-fi">ski-fi</a>;рейтинг: 44;комментарии: 75;Sun Sep 08 2013 20:25:15 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/583976">Бывший арестант</a>;<a href="http://d3.ru/user/Krueger">Krueger</a>;рейтинг: 229;комментарии: 1471;Sat Aug 09 2014 14:31:16 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/506923">Бывший журналист</a>;<a href="http://d3.ru/user/staschig">staschig</a>;рейтинг: 23;комментарии: 35;Thu Dec 26 2013 15:57:53 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/600129">Бывший заключенный / СИЗО / закрытая психбольница</a>;<a href="http://d3.ru/user/zxzasa">zxzasa</a>;рейтинг: 63;комментарии: 75;Mon Sep 22 2014 16:47:50 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/572338">Бывший кассир в кассах дальнего следования Билет на поезд из Москвы</a>;<a href="http://d3.ru/user/asderru">asderru</a>;рейтинг: 603;комментарии: 319;Thu Jul 03 2014 03:03:42 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/509746">Бывший координатор одного из оппозиционных движений в РФ</a>;<a href="http://d3.ru/user/Ergil">Ergil</a>;рейтинг: 40;комментарии: 114;Thu Jan 02 2014 10:44:59 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/509220">Бывший охранник автобусов в Израиле</a>;<a href="http://d3.ru/user/green_mouse">green_mouse</a>;рейтинг: 271;комментарии: 520;Mon Dec 30 2013 18:52:02 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/481483">Бюрократ / работа в департаментах Москвы</a>;<a href="http://d3.ru/user/moonspeak">moonspeak</a>;рейтинг: 29;комментарии: 24;Sat Oct 05 2013 10:19:16 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/476341">Вахтовик</a>;<a href="http://d3.ru/user/minpravdi">minpravdi</a>;рейтинг: 161;комментарии: 210;Sun Sep 15 2013 17:04:31 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471160">Вегетарианец / стаж 13 лет</a>;<a href="http://d3.ru/user/Ricky">Ricky</a>;рейтинг: 22;комментарии: 604;Tue Aug 27 2013 09:23:27 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463231">Ветеринар {не формат подсайта}</a>;<a href="http://d3.ru/user/El_Grapadura">El_Grapadura</a>;рейтинг: 14;комментарии: 8;Fri Jul 26 2013 19:26:34 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/531843">Видеодизайнер / фрилансер</a>;<a href="http://d3.ru/user/vamp756">vamp756</a>;рейтинг: 55;комментарии: 108;Thu Mar 06 2014 15:39:38 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/493972">Видеооператор на региональном телевидении</a>;<a href="http://d3.ru/user/Joe_Urahara">Joe_Urahara</a>;рейтинг: 27;комментарии: 37;Wed Nov 20 2013 03:00:25 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/519941">Владелец Google Glass Explorer edition</a>;<a href="http://d3.ru/user/MMLV">MMLV</a>;рейтинг: 123;комментарии: 146;Wed Feb 05 2014 09:58:12 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/471000">Владелец Tesla S задавайте вопросы</a>;<a href="http://d3.ru/user/MMLV">MMLV</a>;рейтинг: 524;комментарии: 444;Mon Aug 26 2013 20:21:11 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/542901">Владелец и работник цеха полимерно–порошковой покраски</a>;<a href="http://d3.ru/user/vita_starkoff">vita_starkoff</a>;рейтинг: 44;комментарии: 94;Tue Apr 01 2014 00:23:22 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464093">Владелец немецких догов Не заводчик!</a>;<a href="http://d3.ru/user/bigdogs_ru">bigdogs_ru</a>;рейтинг: 24;комментарии: 10;Tue Jul 30 2013 05:43:55 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/466391">Владелец нескольких порносайтов</a>;<a href="http://d3.ru/user/Danmer">Danmer</a>;рейтинг: 171;комментарии: 198;Wed Aug 07 2013 20:31:16 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/483949">Владелец прицепа–дома</a>;<a href="http://d3.ru/user/YourHearing">YourHearing</a>;рейтинг: 113;комментарии: 195;Mon Oct 14 2013 17:39:22 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464195">Владелец регионального интернет–магазина Tовары для хобби</a>;<a href="http://d3.ru/user/Catarina">Catarina</a>;рейтинг: 36;комментарии: 83;Tue Jul 30 2013 15:36:36 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/433578">Владелец ресторана</a>;<a href="http://d3.ru/user/kochegar">kochegar</a>;рейтинг: 31;комментарии: 50;Mon Apr 15 2013 16:45:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/510675">Владелец сервисного центра Скорая компьютерная помощь</a>;<a href="http://d3.ru/user/Baryonyx">Baryonyx</a>;рейтинг: 42;комментарии: 169;Mon Jan 06 2014 20:36:12 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/491821">Владелец совы Два года в одной квартире с болотной совой.</a>;<a href="http://d3.ru/user/Ragapega">Ragapega</a>;рейтинг: 643;комментарии: 392;Tue Nov 12 2013 19:46:07 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/597158">Владелец супермаркета в Крыму</a>;<a href="http://d3.ru/user/Neptusha">Neptusha</a>;рейтинг: 186;комментарии: 360;Fri Sep 12 2014 21:48:29 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/553043">Внук министра СССР отвечу на ваши вопросы</a>;<a href="http://d3.ru/user/Vorchun">Vorchun</a>;рейтинг: 272;комментарии: 527;Sun Apr 27 2014 10:49:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/497296">Водитель газели</a>;<a href="http://d3.ru/user/andrey2007">andrey2007</a>;рейтинг: 28;комментарии: 135;Sun Dec 01 2013 01:37:55 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/583534">Водитель грузовика</a>;<a href="http://d3.ru/user/vlchrk">vlchrk</a>;рейтинг: 28;комментарии: 167;Fri Aug 08 2014 00:40:08 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/575323">Военнослужащий ВС РФ</a>;<a href="http://d3.ru/user/AnRip">AnRip</a>;рейтинг: 35;комментарии: 177;Mon Jul 14 2014 17:53:53 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464583">Военный юрист</a>;<a href="http://d3.ru/user/Alexvv">Alexvv</a>;рейтинг: 8;комментарии: 25;Wed Jul 31 2013 17:39:45 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/505856">Вожатая младшего отряда</a>;<a href="http://d3.ru/user/Juls1813">Juls1813</a>;рейтинг: 41;комментарии: 164;Sun Dec 22 2013 20:17:53 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/577276">Врач / анестезиолог–реаниматолог / трансплантация почки Работаю в центре трансплантации почки и гемодиализа.</a>;<a href="http://d3.ru/user/Octolobus">Octolobus</a>;рейтинг: 97;комментарии: 186;Mon Jul 21 2014 00:06:26 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/461457">Врач / психиатр–нарколог / стаж 9 лет</a>;<a href="http://d3.ru/user/maroon">maroon</a>;рейтинг: 334;комментарии: 1619;Sat Jul 20 2013 15:40:52 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/582650">Врач / психиатр–нарколог, психотерапевт</a>;<a href="http://d3.ru/user/pelengas">pelengas</a>;рейтинг: 134;комментарии: 747;Tue Aug 05 2014 17:34:44 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/485866">Врач / стоматолог Частная стоматология на d3</a>;<a href="http://d3.ru/user/DocDoc">DocDoc</a>;рейтинг: 377;комментарии: 1250;Mon Oct 21 2013 17:02:25 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/538373">Врач / хирург / стаж 17 лет</a>;<a href="http://d3.ru/user/Dr_Niro">Dr_Niro</a>;рейтинг: 269;комментарии: 225;Thu Mar 20 2014 03:59:58 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/470191">Врач / хирург–стоматолог</a>;<a href="http://d3.ru/user/rob_dentist">rob_dentist</a>;рейтинг: 62;комментарии: 177;Fri Aug 23 2013 01:24:42 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/550320">Врач акушер–гинеколог стаж 30 лет</a>;<a href="http://d3.ru/user/G-dok">G-dok</a>;рейтинг: 264;комментарии: 817;Sat Apr 19 2014 17:49:37 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/538495">Врач анестезиолог–реаниматолог в онкологическом центре / стаж 12 лет</a>;<a href="http://d3.ru/user/apoptos">apoptos</a>;рейтинг: 213;комментарии: 404;Thu Mar 20 2014 14:11:32 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/428804">Врач–анестезиолог</a>;<a href="http://d3.ru/user/dvv70">dvv70</a>;рейтинг: 50;комментарии: 125;Mon Apr 01 2013 04:43:39 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464305">Врач–гипнотерапевт Специалист по терапевтическому гипнозу</a>;<a href="http://d3.ru/user/snigur">snigur</a>;рейтинг: 80;комментарии: 349;Tue Jul 30 2013 21:12:21 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/446352">Врач–дерматовенеролог (сифилидолог)</a>;<a href="http://d3.ru/user/cnikvi">cnikvi</a>;рейтинг: 54;комментарии: 71;Thu May 30 2013 22:04:36 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/463620">Врач–кардиолог</a>;<a href="http://d3.ru/user/fedosis">fedosis</a>;рейтинг: 107;комментарии: 185;Sun Jul 28 2013 19:57:47 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/490765">Врач–патологоанатом</a>;<a href="http://d3.ru/user/doctor_evil">doctor_evil</a>;рейтинг: 326;комментарии: 741;Fri Nov 08 2013 16:26:34 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/493110">Врач–патологоанатом областного клинического онкологического диспансера</a>;<a href="http://d3.ru/user/elpidifor_svidrigayloff">elpidifor_svidrigayloff</a>;рейтинг: 195;комментарии: 186;Sat Nov 16 2013 18:00:54 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/493322">Врач–патологоанатом, сын врача–патологоанатома</a>;<a href="http://d3.ru/user/HumPath">HumPath</a>;рейтинг: 40;комментарии: 66;Sun Nov 17 2013 18:25:11 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/446328">Врач–радиолог</a>;<a href="http://d3.ru/user/nicknovi">nicknovi</a>;рейтинг: 52;комментарии: 100;Thu May 30 2013 20:41:27 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/434710">Врач–танатолог / врач производящий экспертизу трупов</a>;<a href="http://d3.ru/user/Rukonstruktor">Rukonstruktor</a>;рейтинг: 59;комментарии: 126;Thu Apr 18 2013 19:43:43 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/557502">Вышибала На воротах</a>;<a href="http://d3.ru/user/ob1">ob1</a>;рейтинг: 575;комментарии: 367;Sat May 10 2014 07:06:53 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/465050">Гей / Актив Готов ответить на любые вопросы</a>;<a href="http://d3.ru/user/anothergey">anothergey</a>;рейтинг: 26;комментарии: 236;Fri Aug 02 2013 03:09:55 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/415175">Гей Обратный вопрос</a>;<a href="http://d3.ru/user/Chiga">Chiga</a>;рейтинг: 22;комментарии: 107;Thu Feb 07 2013 16:10:23 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/490151">Гемблинг Всё, о чем Вы хотели спросить.</a>;<a href="http://d3.ru/user/bravo_bravo">bravo_bravo</a>;рейтинг: 28;комментарии: 54;Wed Nov 06 2013 16:26:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/501378">Гетеросексуал</a>;<a href="http://d3.ru/user/invsbl">invsbl</a>;рейтинг: 614;комментарии: 525;Sun Dec 08 2013 15:31:12 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/578951">Гипертоник Знаю о гипертонии и велосипедах почти все</a>;<a href="http://d3.ru/user/Huevenkiy">Huevenkiy</a>;рейтинг: 70;комментарии: 219;Fri Jul 25 2014 03:54:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/466852">Главный конструктор "светодиодной" компании</a>;<a href="http://d3.ru/user/iva2000">iva2000</a>;рейтинг: 51;комментарии: 59;Fri Aug 09 2013 15:40:46 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471964">Гнутоклееная мебель</a>;<a href="http://d3.ru/user/astass">astass</a>;рейтинг: 71;комментарии: 123;Thu Aug 29 2013 22:55:08 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/470853">Голова сільської ради / Председатель деревни</a>;<a href="http://d3.ru/user/ivan_lushch">ivan_lushch</a>;рейтинг: 38;комментарии: 35;Mon Aug 26 2013 10:50:41 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/577164">Делаю колбасу</a>;<a href="http://d3.ru/user/Rostislavius">Rostislavius</a>;рейтинг: 225;комментарии: 269;Sun Jul 20 2014 16:41:43 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/598108">Джастас Уолкер "Весели Молочник." Спроси меня о чем не будь</a>;<a href="http://d3.ru/user/Justus_Walker">Justus_Walker</a>;рейтинг: 712;комментарии: 625;Tue Sep 16 2014 05:58:19 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/584019">Джипер</a>;<a href="http://d3.ru/user/agic">agic</a>;рейтинг: 25;комментарии: 201;Sat Aug 09 2014 17:20:30 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471437">Диагноз / Биполярное расстройство</a>;<a href="http://d3.ru/user/dart_sidius">dart_sidius</a>;рейтинг: 23;комментарии: 115;Wed Aug 28 2013 01:31:53 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/468184">Диагноз / ВИЧ–положительный Попробую развенчать мифы о "Чуме 21 века"</a>;<a href="http://d3.ru/user/agasfer">agasfer</a>;рейтинг: 282;комментарии: 515;Thu Aug 15 2013 03:12:29 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/592841">Диагноз / Гепатит С</a>;<a href="http://d3.ru/user/Spock_oino">Spock_oino</a>;рейтинг: 33;комментарии: 92;Sun Aug 31 2014 03:57:21 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/466983">Диагноз / антероградная амнезия</a>;<a href="http://d3.ru/user/cyberworm">cyberworm</a>;рейтинг: 453;комментарии: 213;Fri Aug 09 2013 23:48:53 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/587872">Диагноз / дейтераноп / дальтоник А точнее дейтераноп</a>;<a href="http://d3.ru/user/aspirinner">aspirinner</a>;рейтинг: 118;комментарии: 377;Thu Aug 21 2014 19:25:38 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464878">Диагноз / заикание Стаж — больше 20 лет</a>;<a href="http://d3.ru/user/happysharkable">happysharkable</a>;рейтинг: 35;комментарии: 71;Thu Aug 01 2013 16:24:54 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/512772">Диагноз / клиническая смерть</a>;<a href="http://d3.ru/user/Lazyray">Lazyray</a>;рейтинг: 155;комментарии: 745;Tue Jan 14 2014 14:03:28 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/470735">Диагноз / меланома 4 стадии / онкобольной Борьба с раком и медициной</a>;<a href="http://d3.ru/user/allinalien">allinalien</a>;рейтинг: 266;комментарии: 105;Sun Aug 25 2013 19:17:40 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/561047">Диагноз / ожирение 2–ой степени победил</a>;<a href="http://d3.ru/user/EvgenMDZ">EvgenMDZ</a>;рейтинг: 377;комментарии: 799;Thu May 22 2014 08:28:20 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/502634">Диагноз / онкогематологически отболевший  донорские инициативы</a>;<a href="http://d3.ru/user/AlexHans">AlexHans</a>;рейтинг: 134;комментарии: 55;Thu Dec 12 2013 12:08:45 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/559943">Диагноз / панические атаки</a>;<a href="http://d3.ru/user/SysWoW128">SysWoW128</a>;рейтинг: 34;комментарии: 241;Sun May 18 2014 16:51:01 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/469528">Диагноз / потерявший слух в 29 лет Кохлеарная имплантация</a>;<a href="http://d3.ru/user/sizof">sizof</a>;рейтинг: 234;комментарии: 266;Tue Aug 20 2013 17:44:24 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/559622">Диагноз / психогенное переедание / обжора Состояние пищевой ломки</a>;<a href="http://d3.ru/user/Onubis">Onubis</a>;рейтинг: 201;комментарии: 752;Sat May 17 2014 00:57:45 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/557316">Диджей 14 лет увлекаюсь электронной музыкой. Играю около 8 лет. Предпочитаю проживать в Азии (Индия, Таиланд, Индонезия, Камбоджа)</a>;<a href="http://d3.ru/user/OliverHaddo">OliverHaddo</a>;рейтинг: 55;комментарии: 209;Fri May 09 2014 07:11:05 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/461888">Дизайнер интерьера, декоратор</a>;<a href="http://d3.ru/user/gars">gars</a>;рейтинг: 23;комментарии: 48;Mon Jul 22 2013 12:17:07 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/509644">Дизайнер полиграфии из провинции</a>;<a href="http://d3.ru/user/davemustaine">davemustaine</a>;рейтинг: 38;комментарии: 74;Wed Jan 01 2014 20:25:17 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464441">Директор агентства недвижимости</a>;<a href="http://d3.ru/user/Drume">Drume</a>;рейтинг: 8;комментарии: 40;Wed Jul 31 2013 05:56:18 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/459251">Директор благотворительного фонда</a>;<a href="http://d3.ru/user/Berhin">Berhin</a>;рейтинг: 182;комментарии: 171;Sat Jul 13 2013 12:36:22 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/421573">Директор крупного автосалона Человек — автомобиль</a>;<a href="http://d3.ru/user/kardamon">kardamon</a>;рейтинг: 23;комментарии: 99;Thu Mar 14 2013 19:53:30 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/449773">Директор магазина Продукты питания.</a>;<a href="http://d3.ru/user/Criostap">Criostap</a>;рейтинг: 614;комментарии: 1437;Mon Jun 10 2013 22:48:06 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/575652">Дирижер</a>;<a href="http://d3.ru/user/andreyborisov">andreyborisov</a>;рейтинг: 307;комментарии: 493;Tue Jul 15 2014 20:38:18 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/567563">Догхантер на покое</a>;<a href="http://d3.ru/user/Dogmeat">Dogmeat</a>;рейтинг: 189;комментарии: 2067;Sun Jun 15 2014 18:20:05 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/468986">Дорожник строю дороги и аэродромы</a>;<a href="http://d3.ru/user/Dorownik">Dorownik</a>;рейтинг: 53;комментарии: 406;Sun Aug 18 2013 14:49:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/572361">Дрессировщик собак Про воспитание собак</a>;<a href="http://d3.ru/user/Nuitgal">Nuitgal</a>;рейтинг: 19;комментарии: 49;Thu Jul 03 2014 07:04:57 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/467656">Железнодорожник–связист О перспективах или отсутствии таковых.</a>;<a href="http://d3.ru/user/alkill">alkill</a>;рейтинг: 36;комментарии: 28;Tue Aug 13 2013 04:20:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/587745">Женат на кубинке</a>;<a href="http://d3.ru/user/Marabu10">Marabu10</a>;рейтинг: 122;комментарии: 265;Thu Aug 21 2014 14:02:56 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/551277">Женщина, которая рожала</a>;<a href="http://d3.ru/user/e-Cat">e-Cat</a>;рейтинг: 608;комментарии: 1014;Tue Apr 22 2014 17:35:51 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/482069">Живу в Америке / стаж 13 лет Американская долюшка женская</a>;<a href="http://d3.ru/user/zi-ma">zi-ma</a>;рейтинг: 250;комментарии: 1811;Mon Oct 07 2013 20:27:09 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/483089">Живу в Америке / стаж 35 лет Как в самом деле живут в Америке</a>;<a href="http://d3.ru/user/XMbIPb">XMbIPb</a>;рейтинг: 128;комментарии: 280;Fri Oct 11 2013 03:20:31 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/520811">Живу в Болгарии / гражданин РФ</a>;<a href="http://d3.ru/user/salami-s-zubami">salami-s-zubami</a>;рейтинг: 39;комментарии: 182;Fri Feb 07 2014 18:46:19 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/504600">Живу в Болгарии / жена болгарка Жизнь у моря</a>;<a href="http://d3.ru/user/bgrusnak">bgrusnak</a>;рейтинг: 49;комментарии: 126;Wed Dec 18 2013 13:03:07 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/445622">Живу в Великобритании / гражданин / стаж 7 лет</a>;<a href="http://d3.ru/user/zanozza">zanozza</a>;рейтинг: 27;комментарии: 34;Tue May 28 2013 17:55:48 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/586501">Живу в Донецке, Украина Отвечу на вопросы, касающиеся города и текущей ситуации.</a>;<a href="http://d3.ru/user/shevro">shevro</a>;рейтинг: 330;комментарии: 1654;Sun Aug 17 2014 23:05:38 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/538570">Живу в Израиле / второе гражданство</a>;<a href="http://d3.ru/user/Josef_Knecht">Josef_Knecht</a>;рейтинг: 21;комментарии: 172;Thu Mar 20 2014 17:10:43 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/422704">Живу в Израиле / служба в АОИ</a>;<a href="http://d3.ru/user/morkkis">morkkis</a>;рейтинг: 12;комментарии: 83;Sun Mar 17 2013 16:41:45 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/584599">Живу в Испании / стаж 15 лет</a>;<a href="http://d3.ru/user/Hnosalonso">Hnosalonso</a>;рейтинг: 37;комментарии: 213;Mon Aug 11 2014 20:07:44 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/471622">Живу в Токио / стаж 4 года</a>;<a href="http://d3.ru/user/sarariman">sarariman</a>;рейтинг: 330;комментарии: 453;Wed Aug 28 2013 19:37:45 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/563198">Живу в деревне / стаж 5 лет</a>;<a href="http://d3.ru/user/MasterXoID">MasterXoID</a>;рейтинг: 455;комментарии: 1330;Thu May 29 2014 02:53:47 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/511220">Живу в деревне / стаж 8 лет Сметана, яйца и морковка</a>;<a href="http://d3.ru/user/Leshiy13">Leshiy13</a>;рейтинг: 185;комментарии: 495;Wed Jan 08 2014 23:55:59 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/602164">Живу в немецкой деревне / стаж 8 лет</a>;<a href="http://d3.ru/user/dear575">dear575</a>;рейтинг: 83;комментарии: 148;Sat Sep 27 2014 03:23:18 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/575481">Живу во Владивостоке / переехал туда жить Я бросил все и переехал во Владивосток</a>;<a href="http://d3.ru/user/Ofhumanbondage">Ofhumanbondage</a>;рейтинг: 284;комментарии: 439;Tue Jul 15 2014 06:42:36 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/470731">Живу во Франции 6 лет Студент через 2 недели</a>;<a href="http://d3.ru/user/Bourge">Bourge</a>;рейтинг: 38;комментарии: 103;Sun Aug 25 2013 18:48:38 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/489841">Живу на Чукотке — родился(в конце 80–х) и вырос на Чукотке</a>;<a href="http://d3.ru/user/M03G">M03G</a>;рейтинг: 191;комментарии: 205;Tue Nov 05 2013 16:28:05 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/580673">Жил на Камчатке / стаж 25 лет Родился на Камчатке и прожил там 25 лет, камчадал</a>;<a href="http://d3.ru/user/KamChatka">KamChatka</a>;рейтинг: 48;комментарии: 124;Wed Jul 30 2014 12:53:09 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/574717">Жила в Туркменистане / гражданка Прожила в Туркменистане 22 года</a>;<a href="http://d3.ru/user/LadriAlex">LadriAlex</a>;рейтинг: 138;комментарии: 317;Sat Jul 12 2014 02:55:11 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/533898">Житель Амстердама</a>;<a href="http://d3.ru/user/santik">santik</a>;рейтинг: 165;комментарии: 387;Mon Mar 10 2014 16:18:54 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/529949">Житель Баку В мой город входили миротворческие войска, Баку 1990</a>;<a href="http://d3.ru/user/Crew">Crew</a>;рейтинг: 80;комментарии: 212;Mon Mar 03 2014 06:58:09 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/494012">Житель Сиднея, 20 лет в стране</a>;<a href="http://d3.ru/user/andrei_sky">andrei_sky</a>;рейтинг: 50;комментарии: 59;Wed Nov 20 2013 10:39:05 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/570623">Житель Славянска Уехал 25.06.14 вчера</a>;<a href="http://d3.ru/user/100tonns">100tonns</a>;рейтинг: 112;комментарии: 1971;Thu Jun 26 2014 12:18:44 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/574604">Житель Туркменистана Полтора года в Туркменистане</a>;<a href="http://d3.ru/user/Dark_CJC">Dark_CJC</a>;рейтинг: 77;комментарии: 342;Fri Jul 11 2014 18:34:05 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471941">Заключенный / 228 ч.2 За забором...</a>;<a href="http://d3.ru/user/aenima">aenima</a>;рейтинг: 48;комментарии: 61;Thu Aug 29 2013 21:31:59 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/513121">Закупщик / крупные розничные сети</a>;<a href="http://d3.ru/user/vasiliy-yakovlev">vasiliy-yakovlev</a>;рейтинг: 31;комментарии: 104;Wed Jan 15 2014 16:09:41 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/522614">Закупщик / полугосударственная компания</a>;<a href="http://d3.ru/user/Insubordinate">Insubordinate</a>;рейтинг: 13;комментарии: 79;Thu Feb 13 2014 13:49:36 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/445493">Звукорежиссер / студия звукозаписи</a>;<a href="http://d3.ru/user/krator">krator</a>;рейтинг: 9;комментарии: 37;Tue May 28 2013 08:22:04 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/492240">Звукорежиссёр / работа с живым звуком в столице</a>;<a href="http://d3.ru/user/ikebanshik">ikebanshik</a>;рейтинг: 100;комментарии: 236;Thu Nov 14 2013 03:29:31 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/475109">Знаток пива О пиве. Много, нудно, но честно</a>;<a href="http://d3.ru/user/Morganoid">Morganoid</a>;рейтинг: 144;комментарии: 464;Tue Sep 10 2013 19:53:08 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/469859">Знаток рептилий Выращиваю, увлекаюсь ящерицами.</a>;<a href="http://d3.ru/user/BaDwildBaNaN">BaDwildBaNaN</a>;рейтинг: 74;комментарии: 86;Wed Aug 21 2013 20:57:16 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/572568">Игрок в лакросс</a>;<a href="http://d3.ru/user/Dahon">Dahon</a>;рейтинг: 30;комментарии: 60;Fri Jul 04 2014 00:22:10 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464339">Изготовитель вывесок</a>;<a href="http://d3.ru/user/addabak">addabak</a>;рейтинг: 1;комментарии: 12;Tue Jul 30 2013 23:13:02 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/441124">Иллюстратор на микростоках</a>;<a href="http://d3.ru/user/vanabanana">vanabanana</a>;рейтинг: 37;комментарии: 74;Sun May 12 2013 21:41:15 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/471815">Инвалид в России Правое бедро начинается чуть выше колена.</a>;<a href="http://d3.ru/user/Crew">Crew</a>;рейтинг: 370;комментарии: 249;Thu Aug 29 2013 13:31:14 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/404851">Инвестбанкир Инвестбанкиры в цирке тоже не смеются</a>;<a href="http://d3.ru/user/Madshus">Madshus</a>;рейтинг: 25;комментарии: 26;Fri Jan 11 2013 08:06:46 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/467702">Инвестиционный аналитик</a>;<a href="http://d3.ru/user/Beo">Beo</a>;рейтинг: 96;комментарии: 318;Tue Aug 13 2013 12:52:24 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/454287">Инженер / cлаботочные системы</a>;<a href="http://d3.ru/user/Radhat">Radhat</a>;рейтинг: 8;комментарии: 28;Wed Jun 26 2013 21:44:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/552437">Инженер / КТ Компьютерная томография (КТ) и дентальная рентгенология.</a>;<a href="http://d3.ru/user/voviabolo">voviabolo</a>;рейтинг: 33;комментарии: 43;Fri Apr 25 2014 15:46:55 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/450508">Инженер / СЦ, бытовая техника</a>;<a href="http://d3.ru/user/Ishiwata">Ishiwata</a>;рейтинг: 43;комментарии: 237;Thu Jun 13 2013 12:49:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/450587">Инженер / СЦ, оргтехника</a>;<a href="http://d3.ru/user/Sergio_Palermo">Sergio_Palermo</a>;рейтинг: 13;комментарии: 12;Thu Jun 13 2013 16:33:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/434298">Инженер / автоматизация и механизация производственных процессов</a>;<a href="http://d3.ru/user/Genealissimus">Genealissimus</a>;рейтинг: 12;комментарии: 40;Wed Apr 17 2013 20:07:00 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/434390">Инженер / информационная безопасность / Израиль</a>;<a href="http://d3.ru/user/SanderBar">SanderBar</a>;рейтинг: 11;комментарии: 41;Thu Apr 18 2013 00:31:34 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/592996">Инженер / конструктор систем вооружения / Коломна КБ машиностроения (Коломна)</a>;<a href="http://d3.ru/user/Coldblood">Coldblood</a>;рейтинг: 40;комментарии: 68;Sun Aug 31 2014 19:19:17 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/472535">Инженер / нефтегазопереработка Инженер по наладке и испытаниям</a>;<a href="http://d3.ru/user/Versto">Versto</a>;рейтинг: 22;комментарии: 12;Sun Sep 01 2013 13:55:38 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/467886">Инженер / проектирование и изготовление ASIC (интегральные схемы) на фабрике TSMC</a>;<a href="http://d3.ru/user/aht">aht</a>;рейтинг: 32;комментарии: 42;Wed Aug 14 2013 00:36:06 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/450997">Инженер / проектирование, строительство базовых станций сотовой связи</a>;<a href="http://d3.ru/user/rtm_frdch">rtm_frdch</a>;рейтинг: 34;комментарии: 29;Fri Jun 14 2013 19:42:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/541658">Инженер / разработка, производство медицинских приборов (кардиохирургия) / США</a>;<a href="http://d3.ru/user/Sgt-Pepper">Sgt-Pepper</a>;рейтинг: 58;комментарии: 47;Fri Mar 28 2014 09:16:29 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/483863">Инженер / разработка, производство светодиодного освещения</a>;<a href="http://d3.ru/user/apr2013">apr2013</a>;рейтинг: 214;комментарии: 320;Mon Oct 14 2013 10:43:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/429230">Инженер / специалист направления кино</a>;<a href="http://d3.ru/user/Ziegel">Ziegel</a>;рейтинг: 20;комментарии: 58;Tue Apr 02 2013 14:34:31 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/446408">Инженер / технические средства охраны</a>;<a href="http://d3.ru/user/maxnev">maxnev</a>;рейтинг: 14;комментарии: 70;Fri May 31 2013 01:58:18 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/449797">Инженер / торгово–складскоe и холодильноe оборудованиe</a>;<a href="http://d3.ru/user/Zavskladom">Zavskladom</a>;рейтинг: 18;комментарии: 27;Tue Jun 11 2013 01:15:46 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/489066">Инженер / филдер / Эквадор</a>;<a href="http://d3.ru/user/Chichico">Chichico</a>;рейтинг: 111;комментарии: 116;Sat Nov 02 2013 19:41:41 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/510661">Инженер–конструктор / ГКБ "Южное"</a>;<a href="http://d3.ru/user/axeller">axeller</a>;рейтинг: 72;комментарии: 114;Mon Jan 06 2014 19:24:36 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/434351">Инженер–строитель / Санкт–Петербург</a>;<a href="http://d3.ru/user/Visualynx">Visualynx</a>;рейтинг: 16;комментарии: 50;Wed Apr 17 2013 22:42:32 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/489189">Инженер–физик / лазерная коррекция зрения</a>;<a href="http://d3.ru/user/baibuga">baibuga</a>;рейтинг: 219;комментарии: 304;Sun Nov 03 2013 12:53:44 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/428332">Инженер–энергетик</a>;<a href="http://d3.ru/user/mdogx">mdogx</a>;рейтинг: 27;комментарии: 108;Sat Mar 30 2013 12:01:30 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/454347">Инжиниринговая компания</a>;<a href="http://d3.ru/user/oxygenh">oxygenh</a>;рейтинг: 10;комментарии: 36;Thu Jun 27 2013 01:48:22 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/494323">Инструктор по серфингу</a>;<a href="http://d3.ru/user/Rufio">Rufio</a>;рейтинг: 38;комментарии: 84;Thu Nov 21 2013 04:54:53 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/584659">Историк / cуд и уголовные наказания в царской России отвечаю на любые вопросы</a>;<a href="http://d3.ru/user/erohov">erohov</a>;рейтинг: 205;комментарии: 336;Mon Aug 11 2014 22:43:22 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/587516">Историк / Бизнес в царской России отвечаю на любые вопросы</a>;<a href="http://d3.ru/user/erohov">erohov</a>;рейтинг: 118;комментарии: 196;Wed Aug 20 2014 20:15:52 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/455120">Историк / Россия в эпоху Николая II / часть 1</a>;<a href="http://d3.ru/user/erohov">erohov</a>;рейтинг: 854;комментарии: 1078;Sun Jun 30 2013 01:06:47 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/533153">Историк / Россия в эпоху Николая II / часть 2 отвечаю на любые вопросы</a>;<a href="http://d3.ru/user/erohov">erohov</a>;рейтинг: 481;комментарии: 729;Sat Mar 08 2014 23:12:23 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/581789">Историк / Россия и Первая мировая война отвечаю на любые вопросы</a>;<a href="http://d3.ru/user/erohov">erohov</a>;рейтинг: 192;комментарии: 795;Sat Aug 02 2014 19:16:31 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/578087">Историк / дороги в царской России</a>;<a href="http://d3.ru/user/erohov">erohov</a>;рейтинг: 238;комментарии: 374;Tue Jul 22 2014 23:26:29 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/460096">Историк / история военно–полевой хирургии</a>;<a href="http://d3.ru/user/alexandr_povolotsky">alexandr_povolotsky</a>;рейтинг: 47;комментарии: 40;Tue Jul 16 2013 22:40:06 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/470226">Керамист художник декоративно–прикладного искусства</a>;<a href="http://d3.ru/user/ian">ian</a>;рейтинг: 21;комментарии: 35;Fri Aug 23 2013 05:58:56 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/472157">Клиент нескольких десятков российских банков</a>;<a href="http://d3.ru/user/bablozlo">bablozlo</a>;рейтинг: 30;комментарии: 99;Fri Aug 30 2013 17:38:13 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/584211">Козовод, птицевод и вообще деревенский житель</a>;<a href="http://d3.ru/user/pelengas">pelengas</a>;рейтинг: 92;комментарии: 181;Sun Aug 10 2014 13:03:55 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/494090">Консультант / SAP BI(BW)</a>;<a href="http://d3.ru/user/patologoanatom">patologoanatom</a>;рейтинг: 21;комментарии: 52;Wed Nov 20 2013 16:14:54 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/575595">Корректор</a>;<a href="http://d3.ru/user/nadezhdavictorovna">nadezhdavictorovna</a>;рейтинг: 184;комментарии: 738;Tue Jul 15 2014 16:42:37 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/554210">Корреспондент парламентского пула Бывший</a>;<a href="http://d3.ru/user/fidelius">fidelius</a>;рейтинг: 277;комментарии: 338;Wed Apr 30 2014 17:38:05 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/487150">Креативщик / копирайтер / стаж 10 лет</a>;<a href="http://d3.ru/user/%D0%9C%D0%B0%D1%80%D1%82%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9_%D0%9A%D1%80%D0%BE%D1%82">Мартовский_Крот</a>;рейтинг: 28;комментарии: 84;Sat Oct 26 2013 03:35:09 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/465321">Крематорщик Я сжигаю людей. Есть вопросы про крематорий?</a>;<a href="http://d3.ru/user/smidl">smidl</a>;рейтинг: 587;комментарии: 944;Sat Aug 03 2013 00:55:22 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/476715">Кришнаит По большому счету бывший.</a>;<a href="http://d3.ru/user/Rudra">Rudra</a>;рейтинг: 49;комментарии: 185;Tue Sep 17 2013 03:16:41 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/576162">Купил ~7000 авиабилетов онлайн за последние несколько лет</a>;<a href="http://d3.ru/user/everybody">everybody</a>;рейтинг: 39;комментарии: 94;Thu Jul 17 2014 12:05:13 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/575889">Летчик / командир воздушного судна</a>;<a href="http://d3.ru/user/Cubertox">Cubertox</a>;рейтинг: 374;комментарии: 1322;Wed Jul 16 2014 15:33:12 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/457535">Лингвист Всё о языках, системах письменности, об их истории, а также обо всём с этим связаном</a>;<a href="http://d3.ru/user/Yellow_Sky">Yellow_Sky</a>;рейтинг: 475;комментарии: 1121;Mon Jul 08 2013 10:15:21 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463822">Лютеранин</a>;<a href="http://d3.ru/user/skp">skp</a>;рейтинг: 99;комментарии: 191;Mon Jul 29 2013 14:58:00 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/504211">Мазохист</a>;<a href="http://d3.ru/user/Sabik">Sabik</a>;рейтинг: 28;комментарии: 313;Tue Dec 17 2013 10:12:25 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471751">Маленький белорусский банкБанковская IT</a>;<a href="http://d3.ru/user/k2m">k2m</a>;рейтинг: 10;комментарии: 38;Thu Aug 29 2013 03:53:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471046">Масон Тайные общества</a>;<a href="http://d3.ru/user/cultuss">cultuss</a>;рейтинг: 87;комментарии: 338;Mon Aug 26 2013 23:33:46 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464637">Массажист</a>;<a href="http://d3.ru/user/nnachalov">nnachalov</a>;рейтинг: 17;комментарии: 41;Wed Jul 31 2013 20:10:30 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/465398">Мастер пирсинга и бодимодификаций</a>;<a href="http://d3.ru/user/8legs">8legs</a>;рейтинг: 53;комментарии: 105;Sat Aug 03 2013 15:05:00 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/553696">Мастер по свету в театре отвечу на ваши вопросы</a>;<a href="http://d3.ru/user/MiR-Rage">MiR-Rage</a>;рейтинг: 58;комментарии: 73;Tue Apr 29 2014 09:30:38 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/462010">Мать С недавних пор мама</a>;<a href="http://d3.ru/user/Goas">Goas</a>;рейтинг: 43;комментарии: 109;Mon Jul 22 2013 19:39:07 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/467078">Мебельщик по госзаказам и не только</a>;<a href="http://d3.ru/user/CorleoneCat">CorleoneCat</a>;рейтинг: 34;комментарии: 75;Sat Aug 10 2013 15:18:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/513831">Медиа–технолог</a>;<a href="http://d3.ru/user/Doddy">Doddy</a>;рейтинг: 53;комментарии: 111;Fri Jan 17 2014 20:28:36 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/539748">Металлолом. Цветной и черный</a>;<a href="http://d3.ru/user/cuprum">cuprum</a>;рейтинг: 37;комментарии: 93;Sun Mar 23 2014 18:13:40 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/489323">Моряк Краболовы, перегрузчики, научники, пассажиры, оффшор, буксиры</a>;<a href="http://d3.ru/user/ded123">ded123</a>;рейтинг: 239;комментарии: 419;Sun Nov 03 2013 22:41:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/433589">Музыкант известной в России и за рубежом группы</a>;<a href="http://d3.ru/user/mojo_head">mojo_head</a>;рейтинг: 9;комментарии: 62;Mon Apr 15 2013 17:19:13 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/468175">Налоговый инспектор украинской районной налоговой. Стаж более 10 лет.</a>;<a href="http://d3.ru/user/keynes">keynes</a>;рейтинг: 38;комментарии: 104;Thu Aug 15 2013 02:27:10 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/463634">Наркозависимый / стаж 4 года / 12 лет без наркотиков</a>;<a href="http://d3.ru/user/God_Mode">God_Mode</a>;рейтинг: 629;комментарии: 1058;Sun Jul 28 2013 20:48:56 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/601391">Наркоман / стаж 8 лет / 5 лет ремиссии</a>;<a href="http://d3.ru/user/drug_addict">drug_addict</a>;рейтинг: 62;комментарии: 247;Thu Sep 25 2014 18:10:58 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/472624">Наркоман Нужен ваш совет.</a>;<a href="http://d3.ru/user/moralez">moralez</a>;рейтинг: 87;комментарии: 126;Sun Sep 01 2013 23:52:14 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/446556">Научный сотрудник прикладного НИИ</a>;<a href="http://d3.ru/user/pnCrash">pnCrash</a>;рейтинг: 27;комментарии: 40;Fri May 31 2013 16:22:48 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/466426">Начальник отдела IT</a>;<a href="http://d3.ru/user/KamikaZze">KamikaZze</a>;рейтинг: 22;комментарии: 43;Wed Aug 07 2013 23:22:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/492889">Начальник смены ПТС — Спрашивайте все, что вам интересно про внестудийное вещание на ТВ. Постараюсь ответить</a>;<a href="http://d3.ru/user/blackylion">blackylion</a>;рейтинг: 42;комментарии: 47;Fri Nov 15 2013 21:07:22 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/591316">Начинающий предприниматель</a>;<a href="http://d3.ru/user/2Shank">2Shank</a>;рейтинг: 41;комментарии: 186;Tue Aug 26 2014 22:19:04 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/419235">Нефтяник</a>;<a href="http://d3.ru/user/inkfrv">inkfrv</a>;рейтинг: 28;комментарии: 91;Thu Feb 28 2013 11:46:13 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/446331">Нефтяник / бурение и прочий нефтесервис</a>;<a href="http://d3.ru/user/TurboDIMA">TurboDIMA</a>;рейтинг: 44;комментарии: 68;Thu May 30 2013 20:54:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471456">Ночной таксист Или бомбила</a>;<a href="http://d3.ru/user/Rostislavius">Rostislavius</a>;рейтинг: 52;комментарии: 53;Wed Aug 28 2013 03:52:50 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/485196">Общественный помощник в прокуратуре</a>;<a href="http://d3.ru/user/Lepage">Lepage</a>;рейтинг: 24;комментарии: 73;Fri Oct 18 2013 17:08:08 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/462572">Опер Отделение по раскрытию тяжких и особо тяжких преступлений против личности.</a>;<a href="http://d3.ru/user/Mccab">Mccab</a>;рейтинг: 319;комментарии: 950;Wed Jul 24 2013 18:56:03 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/487308">Оператор / выращивание монокристаллического кремния и германия</a>;<a href="http://d3.ru/user/neutrinity">neutrinity</a>;рейтинг: 126;комментарии: 103;Sun Oct 27 2013 02:37:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/434570">Оптик–оптометрист</a>;<a href="http://d3.ru/user/jumbo05">jumbo05</a>;рейтинг: 14;комментарии: 63;Thu Apr 18 2013 14:34:30 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/576905">Организатор СМС лохотрона участвовал в партнерке 8коинс</a>;<a href="http://d3.ru/user/Huevenkiy">Huevenkiy</a>;рейтинг: 47;комментарии: 218;Sat Jul 19 2014 16:44:48 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/505514">Организатор олимпиад школьников по информатике</a>;<a href="http://d3.ru/user/msg">msg</a>;рейтинг: 37;комментарии: 31;Sat Dec 21 2013 14:53:44 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/466931">Организатор совместных покупок на женском форуме</a>;<a href="http://d3.ru/user/Catarina">Catarina</a>;рейтинг: 10;комментарии: 28;Fri Aug 09 2013 19:49:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/577233">Отец мальчиков–двойняшек</a>;<a href="http://d3.ru/user/n_dodonov">n_dodonov</a>;рейтинг: 86;комментарии: 80;Sun Jul 20 2014 21:03:08 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/462751">Отец ребенка с УО и ЗПР с частичным РДА Kак найти контакт с маленьким аутенком.</a>;<a href="http://d3.ru/user/Lukashenko">Lukashenko</a>;рейтинг: 97;комментарии: 72;Thu Jul 25 2013 10:29:12 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464184">Отец троих детей</a>;<a href="http://d3.ru/user/our_son_of_a_bitch">our_son_of_a_bitch</a>;рейтинг: 32;комментарии: 23;Tue Jul 30 2013 15:07:19 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464189">Отец шестерых детей Трое на домашнем обучении.</a>;<a href="http://d3.ru/user/kiv123">kiv123</a>;рейтинг: 100;комментарии: 342;Tue Jul 30 2013 15:16:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/509344">Отношения с транссексуальной девушкой</a>;<a href="http://d3.ru/user/whiskas">whiskas</a>;рейтинг: 57;комментарии: 201;Tue Dec 31 2013 04:19:27 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/532773">Офицер Украинской армии</a>;<a href="http://d3.ru/user/Bacardi">Bacardi</a>;рейтинг: 140;комментарии: 494;Sat Mar 08 2014 01:59:37 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/449839">Официант 10 лет стажа.</a>;<a href="http://d3.ru/user/pavel_butovets">pavel_butovets</a>;рейтинг: 30;комментарии: 99;Tue Jun 11 2013 05:35:56 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/558460">Охранник в секте</a>;<a href="http://d3.ru/user/kritikis">kritikis</a>;рейтинг: 206;комментарии: 174;Tue May 13 2014 10:20:50 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/431402">Парашютист</a>;<a href="http://d3.ru/user/cidicid">cidicid</a>;рейтинг: 254;комментарии: 694;Tue Apr 09 2013 12:32:30 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/574551">Пасечник пост–реклама канала на ютубе</a>;<a href="http://d3.ru/user/dmitrystsin">dmitrystsin</a>;рейтинг: 26;комментарии: 42;Fri Jul 11 2014 15:12:43 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/494148">Пациент / лазерная коррекция зрения</a>;<a href="http://d3.ru/user/BigBeerman">BigBeerman</a>;рейтинг: 17;комментарии: 33;Wed Nov 20 2013 19:20:25 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/482075">Пациент / не везёт с врачами</a>;<a href="http://d3.ru/user/artemako">artemako</a>;рейтинг: 40;комментарии: 37;Mon Oct 07 2013 20:43:42 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/504009">Пациент / операция по урезанию желудка</a>;<a href="http://d3.ru/user/abuzyarov">abuzyarov</a>;рейтинг: 13;комментарии: 337;Mon Dec 16 2013 18:08:16 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/587649">Пациент / родила с помощью ЭКО</a>;<a href="http://d3.ru/user/solarwind">solarwind</a>;рейтинг: 68;комментарии: 129;Thu Aug 21 2014 03:43:42 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/464530">Пациент реабилитационного центра фонда "Город без наркотиков" (г. Екатеринбург)</a>;<a href="http://d3.ru/user/xAdminx">xAdminx</a>;рейтинг: 128;комментарии: 107;Wed Jul 31 2013 14:41:06 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/397955">Первый пост — Преамбула</a>;<a href="http://d3.ru/user/Shir_man">Shir_man</a>;рейтинг: 8;комментарии: 33;Mon Dec 24 2012 18:03:51 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/472841">Перевод / Сириец отвечает на вопросы на реддите</a>;<a href="http://d3.ru/user/Surikat">Surikat</a>;рейтинг: 187;комментарии: 82;Mon Sep 02 2013 19:16:16 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/464468">Переводчик / "Breaking Bad" и тд Переводил и буду переводить "Breaking Bad" для Лостфильма, и много чего ещё...</a>;<a href="http://d3.ru/user/wbogdanovv">wbogdanovv</a>;рейтинг: 541;комментарии: 475;Wed Jul 31 2013 12:00:18 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/597023">Пилот / получил PPL Научился летать — PPL (Private Pilot License)</a>;<a href="http://d3.ru/user/rezdm">rezdm</a>;рейтинг: 67;комментарии: 62;Fri Sep 12 2014 15:22:34 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/548279">Пилот–парапланерист</a>;<a href="http://d3.ru/user/Journey">Journey</a>;рейтинг: 152;комментарии: 292;Tue Apr 15 2014 02:02:10 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464020">Пиротехник</a>;<a href="http://d3.ru/user/SDiesel61">SDiesel61</a>;рейтинг: 19;комментарии: 30;Mon Jul 29 2013 23:59:19 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/552401">Пищевик Из чего сделаны пельмени, сосиски и ветчина на прилавке магазина</a>;<a href="http://d3.ru/user/Korg">Korg</a>;рейтинг: 249;комментарии: 780;Fri Apr 25 2014 14:27:32 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/479791">Повар Работал поваром, долго! Начинал со столовых, закончил в хороших ресторанах!</a>;<a href="http://d3.ru/user/eg88">eg88</a>;рейтинг: 89;комментарии: 12;Sun Sep 29 2013 04:36:23 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/469083">Подводный фотограф</a>;<a href="http://d3.ru/user/samebody">samebody</a>;рейтинг: 198;комментарии: 139;Mon Aug 19 2013 00:02:53 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/585455">Политэкономист, стэнфорд финишд отвечаю на вопросы по санкциям</a>;<a href="http://d3.ru/user/volkot">volkot</a>;рейтинг: 59;комментарии: 203;Thu Aug 14 2014 11:19:26 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/467665">Полицейский в Нью–Йорке (NYPD) Стаж 8 лет.</a>;<a href="http://d3.ru/user/nepodarok">nepodarok</a>;рейтинг: 798;комментарии: 1094;Tue Aug 13 2013 05:24:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/592936">Помощник Льва Шлосберга Отвечу на вопросы по инциденту, произошедшему вечером 29 августа</a>;<a href="http://d3.ru/user/massarach">massarach</a>;рейтинг: 125;комментарии: 403;Sun Aug 31 2014 14:56:24 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/543154">Популяризатор науки Как заманить Гельфанда в бар и сколько стоит Нил Тайсон</a>;<a href="http://d3.ru/user/adamastis">adamastis</a>;рейтинг: 45;комментарии: 35;Tue Apr 01 2014 17:11:43 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/494422">Попытка суицида / 4 года назад</a>;<a href="http://d3.ru/user/takeoff">takeoff</a>;рейтинг: 58;комментарии: 163;Thu Nov 21 2013 14:35:59 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/453118">Портной верхней одежды / механик по ремонту швейных машин</a>;<a href="http://d3.ru/user/StariyBashmak">StariyBashmak</a>;рейтинг: 33;комментарии: 22;Sat Jun 22 2013 03:34:57 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/520266">Портфельный управляющий Банки, рынки, брокеры. 15 лет.</a>;<a href="http://d3.ru/user/Mlet5">Mlet5</a>;рейтинг: 52;комментарии: 230;Thu Feb 06 2014 04:06:18 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/573618">Посредник по доставке товаров из США</a>;<a href="http://d3.ru/user/Koshmarik82">Koshmarik82</a>;рейтинг: 77;комментарии: 209;Tue Jul 08 2014 01:26:17 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/573313">Практикант / УФМС / Москва УФМС России по вопросам беженцев и вынужденных переселенцев</a>;<a href="http://d3.ru/user/skopin">skopin</a>;рейтинг: 11;комментарии: 99;Mon Jul 07 2014 00:15:32 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/481848">Представитель компании в Китае</a>;<a href="http://d3.ru/user/iluxakrut">iluxakrut</a>;рейтинг: 51;комментарии: 49;Mon Oct 07 2013 01:23:27 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/601372">Представитель форекс–компании</a>;<a href="http://d3.ru/user/SergeyFX">SergeyFX</a>;рейтинг: 7;комментарии: 84;Thu Sep 25 2014 17:42:33 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/576711">Преподаватель / общеобразовательная школа / стаж 10 лет</a>;<a href="http://d3.ru/user/na_ta">na_ta</a>;рейтинг: 44;комментарии: 167;Fri Jul 18 2014 22:53:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/582494">Преподаватель английского в США</a>;<a href="http://d3.ru/user/vermishelly">vermishelly</a>;рейтинг: 89;комментарии: 132;Tue Aug 05 2014 06:22:34 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/473159">Преподаватель аутотренинга</a>;<a href="http://d3.ru/user/helios3">helios3</a>;рейтинг: 15;комментарии: 84;Tue Sep 03 2013 20:17:31 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/512035">Преподаватель во французском университете</a>;<a href="http://d3.ru/user/nuwus">nuwus</a>;рейтинг: 55;комментарии: 102;Sat Jan 11 2014 22:17:32 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/508985">Пресс–секретарь портала rutracker.org</a>;<a href="http://d3.ru/user/rutracker">rutracker</a>;рейтинг: 493;комментарии: 455;Sun Dec 29 2013 17:59:46 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/468830">Приёмная мама</a>;<a href="http://d3.ru/user/Sheba">Sheba</a>;рейтинг: 714;комментарии: 286;Sat Aug 17 2013 18:46:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/471153">Программист в Канаде</a>;<a href="http://d3.ru/user/biseptol">biseptol</a>;рейтинг: 38;комментарии: 56;Tue Aug 27 2013 07:05:33 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/485093">Программист в Кремниевой Долине — без технического образования</a>;<a href="http://d3.ru/user/Makes">Makes</a>;рейтинг: 50;комментарии: 54;Fri Oct 18 2013 09:16:25 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/473273">Программист в Кремниевой долине / выиграл гринкард в лотерею</a>;<a href="http://d3.ru/user/feathery">feathery</a>;рейтинг: 95;комментарии: 276;Wed Sep 04 2013 06:20:03 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/490716">Продавец автомобилей Стаж 3 года, не Москва.</a>;<a href="http://d3.ru/user/Zla9">Zla9</a>;рейтинг: 45;комментарии: 61;Fri Nov 08 2013 13:37:54 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/481806">Продавец дорожных сумок, кейсов, рюкзаков и чемоданов</a>;<a href="http://d3.ru/user/zaboyca">zaboyca</a>;рейтинг: 104;комментарии: 229;Sun Oct 06 2013 22:27:02 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/552991">Продавец игрушек</a>;<a href="http://d3.ru/user/neteper">neteper</a>;рейтинг: 143;комментарии: 298;Sun Apr 27 2014 02:24:59 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/465634">Продавец музыкальных инструментов</a>;<a href="http://d3.ru/user/Lifetime">Lifetime</a>;рейтинг: 32;комментарии: 126;Sun Aug 04 2013 19:34:06 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/506791">Проектировщик/монтажник систем автополива</a>;<a href="http://d3.ru/user/BDzr">BDzr</a>;рейтинг: 28;комментарии: 47;Thu Dec 26 2013 00:51:21 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/541910">Промышленный альпинист / стаж 7 лет</a>;<a href="http://d3.ru/user/kirikin">kirikin</a>;рейтинг: 64;комментарии: 61;Fri Mar 28 2014 22:44:39 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464520">Промышленный альпинист / стаж 8 лет</a>;<a href="http://d3.ru/user/vadikuseg">vadikuseg</a>;рейтинг: 30;комментарии: 56;Wed Jul 31 2013 14:05:14 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/519029">Профессиональный фотограф. О фотографии и фототехнике</a>;<a href="http://d3.ru/user/tequila_Jim">tequila_Jim</a>;рейтинг: 61;комментарии: 255;Sun Feb 02 2014 01:26:21 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/557220">Профессор физики в США</a>;<a href="http://d3.ru/user/wealth">wealth</a>;рейтинг: 308;комментарии: 484;Fri May 09 2014 00:00:24 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/511784">Пчеловод пчёлы, мёд и прочие штуки</a>;<a href="http://d3.ru/user/yojikof">yojikof</a>;рейтинг: 263;комментарии: 472;Fri Jan 10 2014 23:31:22 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/483019">Работал в Роскомнадзоре Не горжусь.</a>;<a href="http://d3.ru/user/HardNut">HardNut</a>;рейтинг: 279;комментарии: 210;Thu Oct 10 2013 22:43:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/588817">Работал мастером по ремонту компьютеров на Савеловском рынке</a>;<a href="http://d3.ru/user/XIII">XIII</a>;рейтинг: 25;комментарии: 55;Sun Aug 24 2014 14:10:31 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/471801">Работаю в солнечной энергетике в Германии Задавайте вопросы.</a>;<a href="http://d3.ru/user/rzhewskiy">rzhewskiy</a>;рейтинг: 121;комментарии: 277;Thu Aug 29 2013 12:33:17 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/473383">Работник службы быта</a>;<a href="http://d3.ru/user/zboy">zboy</a>;рейтинг: 24;комментарии: 32;Wed Sep 04 2013 16:51:43 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/558206">Работник телеканала «Дождь»</a>;<a href="http://d3.ru/user/rain-man">rain-man</a>;рейтинг: 239;комментарии: 290;Mon May 12 2014 17:02:05 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/489939">Развиваю благотворительный фонд Дети, ответственность, мошенники</a>;<a href="http://d3.ru/user/Obrazno">Obrazno</a>;рейтинг: 30;комментарии: 12;Tue Nov 05 2013 22:17:31 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/576138">Разводил кроликов Я разводил кроликов.</a>;<a href="http://d3.ru/user/Ofhumanbondage">Ofhumanbondage</a>;рейтинг: 313;комментарии: 487;Thu Jul 17 2014 09:21:12 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/465055">Разработчик компьютерных игр</a>;<a href="http://d3.ru/user/dualavatara">dualavatara</a>;рейтинг: 38;комментарии: 58;Fri Aug 02 2013 03:25:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/581100">Разработчик фирменного стиля Про консервы, обувь и т.п.</a>;<a href="http://d3.ru/user/asderru">asderru</a>;рейтинг: 43;комментарии: 43;Thu Jul 31 2014 15:11:25 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/582275">Разработчик электроники Придумал устройство и сделал в Праге на его основе бизнес с нуля</a>;<a href="http://d3.ru/user/Dr_Snaut">Dr_Snaut</a>;рейтинг: 82;комментарии: 98;Mon Aug 04 2014 15:31:55 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464204">Резчик по дереву</a>;<a href="http://d3.ru/user/a_paschenko">a_paschenko</a>;рейтинг: 27;комментарии: 43;Tue Jul 30 2013 16:09:34 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463888">Рекламщик/телевизионщик</a>;<a href="http://d3.ru/user/Indo">Indo</a>;рейтинг: 30;комментарии: 47;Mon Jul 29 2013 17:17:46 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/599788">Религиозный еврей</a>;<a href="http://d3.ru/user/Borukh-hu">Borukh-hu</a>;рейтинг: 113;комментарии: 985;Sun Sep 21 2014 14:34:31 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/577094">Рестовратор / автомобили ГАЗ Люблю и восстанавливаю автомобили ГАЗ</a>;<a href="http://d3.ru/user/Ofhumanbondage">Ofhumanbondage</a>;рейтинг: 98;комментарии: 79;Sun Jul 20 2014 07:16:54 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463809">Робототехник</a>;<a href="http://d3.ru/user/bernardblack">bernardblack</a>;рейтинг: 73;комментарии: 133;Mon Jul 29 2013 14:16:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/576843">Руководитель группы  программистов Израиль</a>;<a href="http://d3.ru/user/mmutabor">mmutabor</a>;рейтинг: 47;комментарии: 94;Sat Jul 19 2014 12:49:18 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/463664">Сантехник</a>;<a href="http://d3.ru/user/gus74">gus74</a>;рейтинг: 124;комментарии: 288;Mon Jul 29 2013 00:32:39 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/576242">Сапёр</a>;<a href="http://d3.ru/user/StalVega">StalVega</a>;рейтинг: 377;комментарии: 426;Thu Jul 17 2014 15:40:46 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/450875">Светотехник Какие бывают светильники и источники света?</a>;<a href="http://d3.ru/user/JV">JV</a>;рейтинг: 14;комментарии: 38;Fri Jun 14 2013 13:36:06 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/504455">Сельская учительница</a>;<a href="http://d3.ru/user/iren">iren</a>;рейтинг: 114;комментарии: 247;Tue Dec 17 2013 23:27:57 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/580282">Системный программист Более 10 лет пишу операционную систему</a>;<a href="http://d3.ru/user/almandrykin">almandrykin</a>;рейтинг: 238;комментарии: 465;Tue Jul 29 2014 07:17:09 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/465305">Скалолаз</a>;<a href="http://d3.ru/user/Kryden">Kryden</a>;рейтинг: 14;комментарии: 43;Sat Aug 03 2013 00:11:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/587151">Совладелец ресторана–караоке в Москве</a>;<a href="http://d3.ru/user/vesenny_aibo">vesenny_aibo</a>;рейтинг: 64;комментарии: 342;Tue Aug 19 2014 20:14:12 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/590731">Сомелье, экс–работник виноторговой компании, семь лет в вине.</a>;<a href="http://d3.ru/user/Bestwinedude">Bestwinedude</a>;рейтинг: 140;комментарии: 413;Mon Aug 25 2014 15:45:51 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/484889">Сотрудник Fedex</a>;<a href="http://d3.ru/user/rodik">rodik</a>;рейтинг: 11;комментарии: 33;Thu Oct 17 2013 15:54:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/501575">Сотрудник СБ банка</a>;<a href="http://d3.ru/user/SimeonWeisz">SimeonWeisz</a>;рейтинг: 91;комментарии: 516;Mon Dec 09 2013 01:57:00 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/484111">Сотрудник визового отдела</a>;<a href="http://d3.ru/user/parikmakher">parikmakher</a>;рейтинг: 54;комментарии: 107;Tue Oct 15 2013 03:26:12 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/470095">Сотрудник сотовой компании</a>;<a href="http://d3.ru/user/EgorKA">EgorKA</a>;рейтинг: 27;комментарии: 153;Thu Aug 22 2013 19:06:47 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/550083">Социальный служащий в Норвегии</a>;<a href="http://d3.ru/user/BravoZulu">BravoZulu</a>;рейтинг: 140;комментарии: 394;Fri Apr 18 2014 22:42:17 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464454">Социолог аспирант</a>;<a href="http://d3.ru/user/kozu_ta">kozu_ta</a>;рейтинг: 9;комментарии: 36;Wed Jul 31 2013 09:07:59 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/584938">Спасал людей при нападении акулы в России</a>;<a href="http://d3.ru/user/Kir111">Kir111</a>;рейтинг: 74;комментарии: 95;Tue Aug 12 2014 19:02:02 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/580414">Специалист / тех. поддержка я Вас слушаю</a>;<a href="http://d3.ru/user/ccheshirecat">ccheshirecat</a>;рейтинг: 24;комментарии: 238;Tue Jul 29 2014 17:17:58 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/465273">Специалист анти–кидала Кидалово как двигатель экономики РФ</a>;<a href="http://d3.ru/user/transerfing-kun">transerfing-kun</a>;рейтинг: 82;комментарии: 56;Fri Aug 02 2013 22:38:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/541204">Специалист по CMS (Color Management System) в полиграфии</a>;<a href="http://d3.ru/user/Intruder">Intruder</a>;рейтинг: 95;комментарии: 197;Thu Mar 27 2014 01:59:38 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/572185">Специалист по ГРП</a>;<a href="http://d3.ru/user/surf1">surf1</a>;рейтинг: 94;комментарии: 276;Wed Jul 02 2014 15:50:46 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/503642">Специалист по водоподготовке</a>;<a href="http://d3.ru/user/awesome_nick">awesome_nick</a>;рейтинг: 144;комментарии: 443;Sun Dec 15 2013 14:34:44 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/533311">Специалист по защите компьютерной информации</a>;<a href="http://d3.ru/user/dvakarandashavnos">dvakarandashavnos</a>;рейтинг: 129;комментарии: 301;Sun Mar 09 2014 07:02:14 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/576214">Специалист по информационной безопасности 10011010011</a>;<a href="http://d3.ru/user/UndeadBane">UndeadBane</a>;рейтинг: 108;комментарии: 469;Thu Jul 17 2014 14:40:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/579120">Специалист по охране труда и технике безопасности на морской стационарной нефтедобывающей платформе</a>;<a href="http://d3.ru/user/topdog">topdog</a>;рейтинг: 52;комментарии: 137;Fri Jul 25 2014 16:14:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/593834">Спортсмен–стрелок Мастер спорта международного класса по пулевой стрельбе</a>;<a href="http://d3.ru/user/shooter600">shooter600</a>;рейтинг: 75;комментарии: 247;Wed Sep 03 2014 03:00:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/491021">Спутниковый интернет</a>;<a href="http://d3.ru/user/Glazzzvlad">Glazzzvlad</a>;рейтинг: 36;комментарии: 65;Sat Nov 09 2013 16:35:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/470406">Срочные кредиты Знаю почти всё, ибо поднял уже два таких проекта</a>;<a href="http://d3.ru/user/insomnia09">insomnia09</a>;рейтинг: 27;комментарии: 210;Sat Aug 24 2013 00:15:32 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464157">Станислав Каунов 88 лет, два смертных приговора</a>;<a href="http://d3.ru/user/sykaunov">sykaunov</a>;рейтинг: 206;комментарии: 330;Tue Jul 30 2013 14:02:14 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/502667">Стартапер Прожжённый российский стартапер</a>;<a href="http://d3.ru/user/Protesilaus">Protesilaus</a>;рейтинг: 102;комментарии: 320;Thu Dec 12 2013 14:02:48 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/571573">Стекольщик</a>;<a href="http://d3.ru/user/supervizor">supervizor</a>;рейтинг: 45;комментарии: 94;Mon Jun 30 2014 13:22:44 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/473007">Стратегический консультант</a>;<a href="http://d3.ru/user/idp3">idp3</a>;рейтинг: 31;комментарии: 128;Tue Sep 03 2013 11:13:58 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/553099">Строитель Стаж 8 лет</a>;<a href="http://d3.ru/user/Dark_CJC">Dark_CJC</a>;рейтинг: 100;комментарии: 239;Sun Apr 27 2014 15:35:57 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/597989">Студент / Ivy League / США</a>;<a href="http://d3.ru/user/bluecougars">bluecougars</a>;рейтинг: 61;комментарии: 89;Mon Sep 15 2014 21:46:18 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/465007">Студент / Великобритания </a>;<a href="http://d3.ru/user/jumka">jumka</a>;рейтинг: 41;комментарии: 31;Thu Aug 01 2013 23:56:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464681">Студент / Канада Жизнь в Канаде и особенности среднего/высшего образования</a>;<a href="http://d3.ru/user/iiiaxer">iiiaxer</a>;рейтинг: 24;комментарии: 37;Wed Jul 31 2013 22:41:24 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/466930">Студент / Норвегия сейчас работаю программистом</a>;<a href="http://d3.ru/user/timurgen">timurgen</a>;рейтинг: 19;комментарии: 41;Fri Aug 09 2013 19:44:41 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/490768">Студент–магистр / синтетическая биология / Париж</a>;<a href="http://d3.ru/user/xl0">xl0</a>;рейтинг: 43;комментарии: 61;Fri Nov 08 2013 16:36:14 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/445175">Судомеханик</a>;<a href="http://d3.ru/user/eddie_dean">eddie_dean</a>;рейтинг: 256;комментарии: 384;Mon May 27 2013 02:47:50 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/562862">Судья статистики / ЧМ–2014 / Минск</a>;<a href="http://d3.ru/user/LazyKarlson">LazyKarlson</a>;рейтинг: 83;комментарии: 77;Wed May 28 2014 02:15:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/469825">Супервайзер Руководящая должность в сфере продаж</a>;<a href="http://d3.ru/user/LeLo">LeLo</a>;рейтинг: 15;комментарии: 107;Wed Aug 21 2013 18:36:21 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/460318">Сурдолог О слухе, слуховых аппаратах, ушах и всем, что с этим связано.</a>;<a href="http://d3.ru/user/YourHearing">YourHearing</a>;рейтинг: 146;комментарии: 185;Wed Jul 17 2013 19:09:55 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/461120">Сфинксовод–любитель</a>;<a href="http://d3.ru/user/srpnt">srpnt</a>;рейтинг: 24;комментарии: 70;Fri Jul 19 2013 12:59:25 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/489760">Таксист Стаж три года, личный автомобиль.</a>;<a href="http://d3.ru/user/Belomordick">Belomordick</a>;рейтинг: 194;комментарии: 220;Tue Nov 05 2013 10:08:57 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/451216">Таможенник</a>;<a href="http://d3.ru/user/gustaff">gustaff</a>;рейтинг: 265;комментарии: 346;Sat Jun 15 2013 18:51:17 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/593374">Танцор сальсы Взгляд на социальные танцы в России изнутри</a>;<a href="http://d3.ru/user/salsadancer">salsadancer</a>;рейтинг: 55;комментарии: 129;Mon Sep 01 2014 20:53:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/525041">Телевизионщик Стаж 15 лет.</a>;<a href="http://d3.ru/user/Mak_Sim">Mak_Sim</a>;рейтинг: 84;комментарии: 182;Thu Feb 20 2014 21:00:42 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/492035">Техник / Toyota Tundra — расскажу про машину</a>;<a href="http://d3.ru/user/mike_shishov">mike_shishov</a>;рейтинг: 22;комментарии: 68;Wed Nov 13 2013 15:51:24 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/492872">Техник / обслуживаю АЗС</a>;<a href="http://d3.ru/user/lostnemo">lostnemo</a>;рейтинг: 34;комментарии: 58;Fri Nov 15 2013 20:37:34 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/524052">Технический директор сотового оператора</a>;<a href="http://d3.ru/user/hdd">hdd</a>;рейтинг: 27;комментарии: 68;Tue Feb 18 2014 15:31:22 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/558266">Технический директор такси Одессы</a>;<a href="http://d3.ru/user/Boreas">Boreas</a>;рейтинг: 60;комментарии: 105;Mon May 12 2014 19:09:45 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463489">Технический/Клинический специалист Офтальмологическое оборудование</a>;<a href="http://d3.ru/user/Heck-Aitomix">Heck-Aitomix</a>;рейтинг: 34;комментарии: 66;Sun Jul 28 2013 00:25:33 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464247">Типстер / игрок в букмекерских конторах</a>;<a href="http://d3.ru/user/Genealissimus">Genealissimus</a>;рейтинг: 7;комментарии: 46;Tue Jul 30 2013 19:21:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/521090">Типстер играю на спортивном тотализаторе</a>;<a href="http://d3.ru/user/mr_garm">mr_garm</a>;рейтинг: 15;комментарии: 48;Sat Feb 08 2014 19:51:54 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/596665">Топ–менеджер в FMCG</a>;<a href="http://d3.ru/user/fireball56">fireball56</a>;рейтинг: 83;комментарии: 233;Thu Sep 11 2014 14:36:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/516922">Транссексуальная девушка</a>;<a href="http://d3.ru/user/redgalya">redgalya</a>;рейтинг: 63;комментарии: 288;Sun Jan 26 2014 20:32:38 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/457028">Трейдер на бирже спортивных ставок Betfair</a>;<a href="http://d3.ru/user/NightWitch">NightWitch</a>;рейтинг: 8;комментарии: 20;Sat Jul 06 2013 22:51:10 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/579335">Трейдер на форекс Торгую восемь лет</a>;<a href="http://d3.ru/user/shlakoblock">shlakoblock</a>;рейтинг: 4;комментарии: 161;Sat Jul 26 2014 02:06:28 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/523961">Тренер / хоккей с шайбой</a>;<a href="http://d3.ru/user/vitro">vitro</a>;рейтинг: 36;комментарии: 92;Tue Feb 18 2014 06:38:33 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/480842">Тренер по электроинструменту</a>;<a href="http://d3.ru/user/smysl_off">smysl_off</a>;рейтинг: 74;комментарии: 258;Thu Oct 03 2013 02:14:11 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/536102">Тренер собак</a>;<a href="http://d3.ru/user/Tulpan">Tulpan</a>;рейтинг: 350;комментарии: 472;Sat Mar 15 2014 01:40:56 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/576495">Тренер, судья, игрок / Американский футбол</a>;<a href="http://d3.ru/user/echo_1">echo_1</a>;рейтинг: 22;комментарии: 48;Fri Jul 18 2014 04:45:26 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/501451">Турагент, Москва</a>;<a href="http://d3.ru/user/Silver_Fork">Silver_Fork</a>;рейтинг: 45;комментарии: 91;Sun Dec 08 2013 19:32:52 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/506355">Туризм / Боливия–Перу 11 Дней.</a>;<a href="http://d3.ru/user/kasparyan1">kasparyan1</a>;рейтинг: 19;комментарии: 89;Tue Dec 24 2013 13:06:41 GMT+0600 (YEKT)<br>
★&nbsp;✔&nbsp;<a href="http://sprosi.d3.ru/comments/562167">Туризм / Кругосветное путешествие на яхте HIKARI купленной за $1000 завершено</a>;<a href="http://d3.ru/user/navigatorpirate">navigatorpirate</a>;рейтинг: 657;комментарии: 338;Mon May 26 2014 00:09:46 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/594489">Туризм / Проехал на авто через всю Северную Корею</a>;<a href="http://d3.ru/user/kefirux">kefirux</a>;рейтинг: 159;комментарии: 502;Fri Sep 05 2014 01:01:37 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/523318">Туризм / олимпиада в Сочи Сочи–2014</a>;<a href="http://d3.ru/user/alina_alina">alina_alina</a>;рейтинг: 120;комментарии: 320;Sat Feb 15 2014 20:41:36 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/597797">Туризм / отдыхал в Крыму</a>;<a href="http://d3.ru/user/since2005">since2005</a>;рейтинг: 63;комментарии: 505;Mon Sep 15 2014 12:47:21 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/539276">Украинский военный в кувейте и ираке</a>;<a href="http://d3.ru/user/santhe">santhe</a>;рейтинг: 99;комментарии: 236;Sat Mar 22 2014 02:25:06 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/596230">Участник боёв на острове Даманском. ПВ</a>;<a href="http://d3.ru/user/mercaptan">mercaptan</a>;рейтинг: 46;комментарии: 112;Wed Sep 10 2014 02:17:11 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/533818">Учащийся Духовной Семинарии РПЦ МП</a>;<a href="http://d3.ru/user/maloy10000">maloy10000</a>;рейтинг: 82;комментарии: 905;Mon Mar 10 2014 12:45:24 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/403134">Ученый / психолог Речи о речи и мысли о мысли</a>;<a href="http://d3.ru/user/virtolet">virtolet</a>;рейтинг: 62;комментарии: 462;Mon Jan 07 2013 22:05:10 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/454256">Ученый–биолог (биохимик)</a>;<a href="http://d3.ru/user/olga_sharapova">olga_sharapova</a>;рейтинг: 140;комментарии: 651;Wed Jun 26 2013 19:59:22 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464031">Учитель / математика / чaстные урoки</a>;<a href="http://d3.ru/user/good_teacher">good_teacher</a>;рейтинг: 11;комментарии: 85;Tue Jul 30 2013 00:40:05 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/457441">Учитель / русский язык, литература, география / стаж 61 год Школа и всё, что вокруг.</a>;<a href="http://d3.ru/user/old_xpen">old_xpen</a>;рейтинг: 108;комментарии: 113;Mon Jul 08 2013 00:47:14 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/483525">Учитель ОБЖ руководитель школьного тур. клуба.</a>;<a href="http://d3.ru/user/paddler">paddler</a>;рейтинг: 31;комментарии: 67;Sat Oct 12 2013 18:09:03 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/458781">Учитель физической культуры — тренер</a>;<a href="http://d3.ru/user/junkman">junkman</a>;рейтинг: 51;комментарии: 150;Thu Jul 11 2013 21:47:06 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/467398">Федеральный чиновник Стаж 10 лет в экономической сфере. Спрашивайте.</a>;<a href="http://d3.ru/user/kirill_yurich">kirill_yurich</a>;рейтинг: 151;комментарии: 1099;Mon Aug 12 2013 05:38:55 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/489149">Фермер в основном птицеводство</a>;<a href="http://d3.ru/user/Fermer_AE">Fermer_AE</a>;рейтинг: 211;комментарии: 383;Sun Nov 03 2013 03:20:59 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/464440">Харизмат / стаж 12 лет</a>;<a href="http://d3.ru/user/protestatio">protestatio</a>;рейтинг: 21;комментарии: 127;Wed Jul 31 2013 05:55:30 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/445427">Химик–металлоорганик</a>;<a href="http://d3.ru/user/Isomer">Isomer</a>;рейтинг: 22;комментарии: 77;Tue May 28 2013 00:30:31 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/513957">Художник–раскадровщик</a>;<a href="http://d3.ru/user/LaViro">LaViro</a>;рейтинг: 108;комментарии: 121;Sat Jan 18 2014 06:27:55 GMT+0600 (YEKT)<br>
✔&nbsp;<a href="http://sprosi.d3.ru/comments/531418">Человек из 24го века</a>;<a href="http://d3.ru/user/sly2m">sly2m</a>;рейтинг: 589;комментарии: 675;Wed Mar 05 2014 22:07:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/461517">Чиновник ЖКХ</a>;<a href="http://d3.ru/user/Bobrus">Bobrus</a>;рейтинг: 97;комментарии: 195;Sat Jul 20 2013 19:39:50 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/557975">Шеф–повар / Израиль</a>;<a href="http://d3.ru/user/Haillo">Haillo</a>;рейтинг: 54;комментарии: 77;Mon May 12 2014 02:07:31 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/466782">Шеф–повар / стаж 18 лет Технолог пищевой промышленности.</a>;<a href="http://d3.ru/user/Nave">Nave</a>;рейтинг: 312;комментарии: 543;Fri Aug 09 2013 09:53:41 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/479411">Эксперт Госдумы РФ по реабилитации алко — и наркозависимых</a>;<a href="http://d3.ru/user/maroon">maroon</a>;рейтинг: 28;комментарии: 47;Fri Sep 27 2013 15:21:47 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/493518">Эксперт в сфере аутсорсинга Организация производства в ЕС</a>;<a href="http://d3.ru/user/vlmxs">vlmxs</a>;рейтинг: 27;комментарии: 28;Mon Nov 18 2013 15:46:25 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/450686">Электрик 5 лет, ни одного дня на официальной работе</a>;<a href="http://d3.ru/user/%D0%9C%D0%B0%D0%B7%D0%B5%D0%BF%D0%B0">Мазепа</a>;рейтинг: 576;комментарии: 815;Thu Jun 13 2013 21:19:02 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/595945">Электроэнергетик</a>;<a href="http://d3.ru/user/HOC">HOC</a>;рейтинг: 24;комментарии: 130;Tue Sep 09 2014 13:33:08 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/484350">Энергетик Спрашивайте.</a>;<a href="http://d3.ru/user/linkotop">linkotop</a>;рейтинг: 23;комментарии: 126;Wed Oct 16 2013 00:44:36 GMT+0600 (YEKT)<br>
★&nbsp;<a href="http://sprosi.d3.ru/comments/571570">Ювелир небольшая частная мастерская</a>;<a href="http://d3.ru/user/experience">experience</a>;рейтинг: 127;комментарии: 225;Mon Jun 30 2014 13:02:42 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/481625">Ювелир–технолог</a>;<a href="http://d3.ru/user/gnus">gnus</a>;рейтинг: 70;комментарии: 115;Sun Oct 06 2013 00:36:15 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/463362">Юрист Долги. Судебные приставы.</a>;<a href="http://d3.ru/user/Bizarro">Bizarro</a>;рейтинг: 23;комментарии: 75;Sat Jul 27 2013 12:27:01 GMT+0600 (YEKT)<br>
<a href="http://sprosi.d3.ru/comments/508565">Яхтсмен Day Skipper</a>;<a href="http://d3.ru/user/DaySkipper">DaySkipper</a>;рейтинг: 44;комментарии: 56;Fri Dec 27 2013 18:37:34 GMT+0600 (YEKT)<br>
